
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mensajes enviados</title>
        <% user = JSON.parse(user) %>
        <%- include("../partials/head.ejs"); %>
        <%- include("../partials/css.ejs"); %>
    </head>
    <body>
        <div class="MessagesContainer">
            <% if (messages) { %> 
                <h1>Mis mensajes enviados</h1>
                <a href="/shop/profile"><h4>Regresar a mi perfil</h4></a>
                <% for (let i = 0; i < messages.length; i++) { %>      
                    <div class="Message">
                        <div>
                            <h4><span class="Time"><%= messages[i].time %></span> : <span class="Text"><%= messages[i].text %></span></h4>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <h1>No enviaste ningún mensaje.</h1>
            <% } %>
        </div>
    